  /* Estilos para los títulos */
  h2.major {
    font-size: 24px;
    color: #333;
  }
  
  /* Estilos para las tarjetas */
  .card {
    width: 100%;
    border: 50px solid #080808;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;
  }

  /* Estilos para las imágenes */
  .card-img-top {
    width: 100%;  
  }
  
  /* Estilos para los títulos de las tarjetas */
  .card-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Estilos para los textos de las tarjetas */
  .card-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
  }

  
/* Establece un tamaño fijo para las imágenes */
.card-img-top {
    height: 300px; 
    object-fit: cover; 
  }
  
/*clima */

  .main {
    margin-top: 50px;
  }

  
  .weather-panel {
    background-image: url("https://unsplash.it/600/400?image=1043&blur");
    background-size: cover;
    border-radius: 20px;
    box-shadow: 25px 25px 40px 0px rgba(0,0,0,0.33);
    color: #fff;
    overflow: hidden;
    position: relative;
    
    small {
      color: inherit;
      font-size: 50%;
    }
    ul.forecast > li {
      border-top: 1px solid #fff;
    }
    .temperature {
      & > span {
          font-size: 2em;
      }
    }
  }
  